.staff-header{
  width: 100vw;
  background-color: azure;
  padding-bottom: 10px;
}

.staff-header-profile{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;

}

.staff-header-main{
  font-size: 34px;
  padding: 10px;
}

.staff-list{
  padding-right: 20px;
}