<header>
  <div class="family-header">
    <div class="family-header-bar"></div>
      <div>
        ご家族様ページ
      </div>
      <div>
      <% if family_signed_in? %>
      <%= "#{current_family.family_last_name} #{current_family.family_first_name}" %>
      </div>
      <div>
        <%= link_to '面会予約ページ',"#" %>
        <%= link_to 'ユーザー情報ページ',"#" %>
        <%= link_to 'ログアウト', destroy_family_session_path, data: {turbo_method: :delete} %>
      <% end %>
      </div>
    </div>
  </div>
  #ここまでファミリーヘッダー
</header>

