<header class="staff-header">
  <div class="staff-header-bar">
    <div class="staff-header-main">スタッフページ</div>
    <div class="staff-header-profile">
      <% if staff_member_signed_in? %>
        <div class="header-staff-info">
          <%= "#{current_staff_member.staff_department.name} #{current_staff_member.staff_last_name} #{current_staff_member.staff_first_name}" %>
        </div>
      <% end %>
      <div class="staff-lists">
          <%= link_to '患者一覧ページへ', patients_path, class: "staff-list" %>
          <%= link_to '新規患者登録ページへ', new_patient_path, class: "staff-list" %>
          <%= link_to 'ログアウト', destroy_staff_member_session_path, class: "staff-list", data: {turbo_method: :delete} %>
      </div>
    </div> 
  </div>
</header>