<header class="header">
  <div class="header-main">
    <%= link_to 'tech hospital', root_path, class: "root-btn" %>
  </div>
  <div class="navi-bar-main">
    <div class="navi-bar">
      ようこそ
    </div>
  </div>
</header>
