
<header class="header">
  <div class="header-main">
    <%= link_to 'tech hospital', root_path %>
  </div>
  <div class="navi-bar-nain">
    <div class="navi-bar">
      ようこそ
    </div>
  </div>
  <%# 消す %>
  # ここまでヘッダー
</header>
