<div clall="header">
  <div class="header-main">
    tech hospital
  </div>
  <div class="navi-bar">
    <div class="navi-bar-list">
      <ul>
        <li><%= current_staff_member.staff_department.name + " " + current_staff_member.staff_last_name + current_staff_member.staff_first_name %></li>
        <li>ログアウト</li>
      </ul>
    </div>
  </div>
  <%# 消す %>
  # ここまでヘッダー
</div>