<%= render "shared/header" %>

<div class="mailn">
  <ul class="lists">
    <li><%= link_to '職員新規登録', new_staff_member_registration_path, class: "staff-btn" %></li>
    <li><%= link_to '職員ログイン', new_staff_member_session_path, class: "staff-btn" %></li>
    <li class="family-btn">
      患者様ご家族新規登録
    </li>
    <li class="family-btn">
      患者様ご家族ログイン
    </li>
  </ul>
</div>

<%= render "shared/footer" %>
