<%= render "shared/header" %>

<div class="mailn">
  <div class="staff-btn">
    職員新規登録
   </div>
   <div class="staff-btn">
    職員ログイン
   </div>
   <div class="family-btn">
    患者様ご家族新規登録
   </div>
   <div class="family-btn">
    患者様ご家族ログイン
   </div>
</div>

<%= render "shared/footer" %>